# Compiled class file
*.class
.metadata
.settings
.classpath
.project
target/
bin/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# IDEs and editors
/.idea
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
.tmp
.DS_Store?
.dpl/
./vscode
client/.vscode
server/.vscode
server/node_modules
client/node_modules
client/typings
client/app/**/*.js
client/app/**/*.map
client/npm-debug.log
server/npm-debug.log